html {
    overflow-x: hidden;
    }

.replace {
    width: 1.1em;
    height: 1.1em;
    padding: 0 0 0 0;
    vertical-align: -0.12em;
}

#mobileCover {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color: black;
    text-align: center;
    visibility: hidden;
    padding-left, padding-right: 10vw;
    
    padding-top: 42vh;
    padding-bottom: 35vh;
    color: white;
    font-weight: bold;
    font-size: 50px;
    line-height: 56px;
    z-index: 300;
}

@media screen and (max-width: 960px), screen and (max-height: 610px) {
    #mobileCover {
        visibility: visible;
    }
    html {
    overflow-x: hidden;
    overflow-y: hidden;
    }
}

#netronome_container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    overflow-x: hidden;
    width: 1808px;
    height: 1171px;
   background-size: contain; background-image: url("../assets/netronome/netronome-frame-w3616.png");
     background-size: 1808px 1171px;
}


#netronome_container iframe {
position: absolute;
        width: 93.5%;
        height: 82%;
    top: 92px;
    left: 59px;
    }


#house_container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    overflow-x: hidden;
    width: 1868px;
    height: 1155px;
    background-size: contain; background-image: url("../assets/house/house-frame-w3736.png");
    background-size: 1868px 1155px;
}
#house_container iframe {
    position: absolute;
        width: 93.5%;
    height: 79.7%;
    top:95px;
    left: 60px;
    z-index: 10;
}

#capstone_container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    overflow-x: hidden;
    width: 1706px;
    height: 1067px;
    background-size: contain; background-image: url("../assets/capstone/capstone-frame-w3412.png");
    background-size: 1706px 1067px; 
}
#capstone_container iframe {
    position: absolute;
        width: 9%;
    height: 79.7%;
    top:95px;
    left: 60px;
    z-index: 10;
}


 #intern_container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    overflow-x: hidden;
    width: 1692px;
    height: 1051px;
    background-image: url("../assets/intern/intern-frame-w3384.png");
    background-size: 1692px 1051px; 
}

body {
    background: #fff;
    color: #000000;
    font-family: 'Roboto Mono', monospace;
    line-height: 38px;
    /*background-size: contain; background-image: url("assets/netronome/bg-dots.png");
    background-repeat: repeat;*/
}

.emoji {
    font-family: emoji;
    letter-spacing: 2px;
    padding-right: 20px;
}

.emoji2 {
    font-family: emoji;
    letter-spacing: 2px;
    padding-left: 20px;
}

.emoji-big {
    padding-right: 40px;
    font-size: 50px;
}

.emoji2-big {
    padding-left: 40px;
    font-size: 50px;
}

.emoji-rotate-div {
    position: absolute;
    width: 30px;
    height: auto;
    z-index: 1;
    top: 150vh;
    right: 20vw;
}

h5 {
    display: flex;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    padding-top: 40px;
    color: #000000;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
}

.box {
    background-size: contain; background-image: url(assets/cursors/pointer-emoji.png);
    width: 25px;
    height: 41px;
    position: relative;
    background-repeat: no-repeat;
}

.boxTwo {
    background-size: contain; background-image: url(assets/cursors/pointer-emoji-left.png);
    width: 25px;
    height: 41px;
    position: relative;
    background-repeat: no-repeat;
}

.download {
    display: flex;
    position: relative;
    padding-bottom: 15vh;
    padding-top: 15vh;
    width: ;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    z-index: 30;
}

.download a {
    color: #0000ff;
    text-align: center;
    text-decoration: underline;
    font-weight: 400;
    background-color: #ffffff;
    padding: 5px;
}

.download a:hover {
    color: #ffffff;
    text-align: center;
    text-decoration: underline;
    background-color: #0000ee;
    padding: 5px;
}

h4 {
    
}


.back {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    width: auto;
    height: auto;
    position: fixed;
    top: 40px;
    left: -10px;
    z-index: 19;
    padding-top: 0px;
    padding-bottom: 0px;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-top: 0px;
    color: #800080;
    text-decoration: none;
    background-color: white;
}

.back a:link {
    text-decoration: none;
}

h6 {
    font-weight: 600;
    font-size: 20px;
    text-align: center;
}

h7 {
    font-weight: bold;
}

#content {
    font-size: 14px;
    padding-top: 100px;
    line-height: 24px;
}

.content-center {
    width: 450px;
    text-align: justify;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0px;
    font-size: 15px;
    line-height: 30px;
    padding-top: 0vh;
    padding-bottom: 15vh;
}
.content-right {
    width: 470px;
    text-align: justify;
    margin-right: 5vw;
    margin-left: auto;
    margin-bottom: 0px;
    font-size: 15px;
    line-height: 30px;
    padding-top: 40vh;
}

.left {
    display: flex;
    justify-content: center;
    float: left;
    width: 50vh;
}

.right {
    float: right;
    width: 50vh;
}

ol {
    padding-top: 3vh;
    padding-bottom: 25vh;
}

ol li {
    padding: 10px;
    list-style: upper-roman;
    list-style-position: outside;
    padding-right: 35%;
}

h10 {
    color: darkgray;
    font-weight: 500;
}

.brief {
    color: darkgray;
}


/*Media Queries*/

@media screen and (max-width: 1895px) {
#house_container {
    margin-left: auto;
    margin-right: auto;
    width: 1640px;
    height: 1029px;
    background-size: contain; background-image: url("../assets/house/house-frame-w3280.png");
    background-size: 1640px 1029px;
}

#house_container iframe {
    position: absolute;
        width: 92.6%;
        height: 83%;
    top: 71px;
    left: 61px;
    z-index: 10;
}
#netronome_container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    overflow-x: hidden;
    width: 1653px;
    height: 1074px;
    background-image: url("../assets/netronome/netronome-frame-w3306.png");
    background-size: 1653px 1074px;
}
#netronome_container iframe {
position: absolute;
        width: 92.9%;
        height: 81%;
    top: 95px;
    left: 59px;
    }
 #intern_container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    overflow-x: hidden;
    width: 1692px;
    height: 1051px;
    background-image: url("../assets/intern/intern-frame-w3384.png");
    background-size: 1692px 1051px; 
}
    
}



@media screen and (max-width: 1700px) {
    #house_container {
        margin-left: auto;
        margin-right: auto;
    width: 1338px;
    height: 857px;
    background-size: contain; background-image: url("../assets/house/house-frame-w2676.png");
    background-size: 1338px 857px;
}
#house_container iframe {
    position: absolute;
        width: 91%;
            height: 79.5%;
    top: 71px;
    left: 60px;
    z-index: 10;
}
#netronome_container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    overflow-x: hidden;
    width: 1368px;
    height: 896px; 
    background-image: url("../assets/netronome/netronome-frame-w2736.png");
    background-size: 1368px 896px; 
}
#netronome_container iframe {
position: absolute;
        width: 91.5%;
        height: 79.7%;
    top: 79px;
    left: 59px;
    }
#intern_container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    overflow-x: hidden;
    width: 1384px;
    height: 876px;
    background-image: url("../assets/intern/intern-frame-w2768.png");
    background-size: 1384px 876px; 
}
}
#capstone_container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    overflow-x: hidden;
    width: 1391px;
    height: 890px;
    background-image: url("../assets/capstone/capstone-frame-w2782.png");
    background-size: 1391px 890px; 
}
#capstone_container iframe {
    position: absolute;
        width: 91.95%;
    height: 81%;
    top:54px;
    left: 56px;
    z-index: 10;
}


@media screen and (max-width: 1440px) {
    #house_container {
        margin-left: auto;
        margin-right: auto;
    width: 1025px;
    height: 697px;
        background-image:url("/assets/house/house-frame-w2050.png");
        background-size: 1025px 697px;
}
#house_container iframe {
    position: absolute;
        width: 88.5%;
    height: 75%;
    top: 71px;
    left: 60px;
    z-index: 10;
}
#netronome_container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    overflow-x: hidden;
    width: 1127px;
    height: 746px;
    background-image: url("../assets/netronome/netronome-frame-w2254.png");
    background-size: 1127px 746px;
}
#netronome_container iframe {
position: absolute;
        width: 89.7%;
        height: 77.5%;
    top: 70px;
    left: 59px;
    }

#capstone_container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    overflow-x: hidden;
    width: 1095px;
    height: 723px;
    background-image: url("../assets/capstone/capstone-frame-w2190.png");
    background-size: 1095px 723px;
}
#capstone_container iframe {
    position: absolute;
        width: 89.8%;
    height: 76.6%;
    top:54px;
    left: 56px;
    z-index: 10;
}
    #intern_container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    overflow-x: hidden;
    width: 1069px;
    height: 700px;
    background-image: url("../assets/intern/intern-frame-w2138.png");
    background-size: 1069px 700px; 
}
}


@media screen and (max-width: 1040px) {
    h5 {
        margin-top: 0px;
        padding-top: 30px;
        font-size: 16px;
        line-height: 28px;
    }
    .emoji {
        font-family: emoji;
        letter-spacing: 2px;
        padding-right: 15px;
    }
    .emoji2 {
        font-family: emoji;
        letter-spacing: 2px;
        padding-left: 15px;
    }
    body {
        margin-top: 0px;
        margin-left: 0px;
    }
}


@media screen and (max-width: 1290px) {
        #house_container {
        margin-left: auto;
        margin-right: auto;
    width: 979px;
    height: 661px;
    background-size: contain; background-image: url("../assets/house/house-frame-w1958.png");
    background-size: 979px 661px;
}
#house_container iframe {
    position: absolute;
        width: 87.5%;
    height: 72.5%;
    top: 74px;
    left: 62px;
    z-index: 10;
}
#netronome_container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    overflow-x: hidden;
    width: 905px;
    height: 607px;
    background-image: url("../assets/netronome/netronome-frame-w1810.png");
    background-size: 905px 607px; 
}
#netronome_container iframe {
position: absolute;
        width: 87%;
        height: 74%;
    top: 70px;
    left: 59px;
    }
#capstone_container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    overflow-x: hidden;
    width: 935px;
    height: 633px;
    background-image: url("../assets/capstone/capstone-frame-w1870.png");
    background-size: 935px 633px; 
}
#capstone_container iframe {
    position: absolute;
        width: 88%;
    height: 73.1%;
    top:54px;
    left: 56px; 
    z-index: 10;
}
#intern_container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    overflow-x: hidden;
    width: 913px;
    height: 611px;
    background-image: url("../assets/intern/intern-frame-w1826.png");
    background-size: 913px 611px; 
}
}



@media screen and (max-width: 1200px) {
    h4 {
        font-size: 18px;
    }
    .back {
        top: 20px;
    }
}
@media screen and (max-width: 840px) {
}

@media screen and (max-width: 730px) {
    h5 {
        padding-top: 25px;
        font-size: 14px;
        line-height: 24px;
    }
    .emoji {
        font-family: emoji;
        letter-spacing: 2px;
        padding-right: 10px;
    }
    .emoji2 {
        font-family: emoji;
        letter-spacing: 2px;
        padding-left: 10px;
    }

}

@media screen and (max-width: 650px) {
    h5 {
        padding-top: 25px;
        font-size: 12px;
        line-height: 24px;
    }
    .emoji {
        font-family: emoji;
        letter-spacing: 2px;
        padding-right: 10px;
    }
    .emoji2 {
        font-family: emoji;
        letter-spacing: 2px;
        padding-left: 10px;
    }
    .content-center {
        font-size: 14px;
        width: 290px;
    }
}