.replace {
    width: 1.1em;
    height: 1.1em;
    padding: 0 0 0 0;
    vertical-align: -0.12em;
}

#mobileCover {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color: #000000;
    text-align: center;
    visibility: hidden;
    padding-left,
    padding-right: 10vw;
    margin: 0px;
    padding-top: 35vh;
    padding-bottom: 20vh;
    color: #ffffff;
    font-weight: bold;
    font-size: 50px;
    line-height: 56px;
    z-index: 1000;
}

@media screen and (max-width: 960px),
screen and (max-height: 610px) {
    #mobileCover {
        visibility: visible;
    }
    html {
        overflow-x: hidden;
        overflow-y: hidden;
    }
}


#Style,
#Style2,
#Style3,
#Style4,
#Style5,
#Style6,
#Style7,
#Style8,
#Style9,
#Style10,
#Style11 {
    visibility: hidden;
}

#Style_emoji,
#Style2_emoji,
#Style3_emoji,
#Style4_emoji,
#Style5_emoji,
#Style6_emoji,
#Style7_emoji,
#Style8_emoji,
#Style9_emoji,
#Style11_emoji {
    visibility: hidden;
}

body {
    background: #fff;
    color: #000000;
    font-family: 'Roboto Mono', monospace;
    height: 100vw;
    margin: 0;
}

ul {
    list-style-type: none;
    margin-left: 0;
    text-align: left;
    padding-left: 0px;
}


/*about paragraph*/

.aRight {
    z-index: 210;
    position: absolute;
    right: 220px;
    top: 40px;
    font-weight: 300;
    font-size: 16px;
    line-height: 32px;
    width: 547px;
}

.blue a {
    color: #0000ff;
    text-align: center;
    text-decoration: none;
    font-weight: 400;
    background-color: #ffffff;
}

.blue a:hover {
    color: #ffffff;
    text-align: center;
    background-color: #0000ee;
    cursor: default;
}

.red a {
    color: #ff0000;
    text-align: center;
    text-decoration: none;
    font-weight: 400;
    background-color: #ffffff;
}

.red a:hover {
    color: #ffffff;
    text-align: center;
    background-color: #ff0000;
    cursor: default;
}


/*BIG MAIN TITLE*/

h1 {
    padding-top: 50px;
    padding-bottom: 110px;
    color: #000000;
    font-weight: 600;
    font-size: 50px;
    line-height: 45px;
    margin-bottom: 0px;
    padding-left: 120px;
}

h1 a {
    color: #000000;
    text-decoration: none;
}

h1 a:hover {
    color: #0000ee;
    text-decoration: none;
}

#header:hover {
    color: #0000ee;
}


/*PERSONAL SENTENCE*/

.subtitle {
    position: absolute;
    top: 134px;
    font-size: 20px;
    font-weight: 600;
    padding-left: 1px;
}


/*MENU LIST*/

h2 {
    margin-top: 0px;
    font-weight: 400;
    font-size: 14px;
    line-height: 36px;
}

h2 a {}

h2 a:hover {}

h2 a:visited {}

h2 ul {
    padding-left: 120px;
}


/*NOT SURE*/

h3 {
    margin-top: 0px;
    font-size: 16px;
    line-height: 36px;
}

h3 ul {
    padding-top: 30vh;
    padding-left: 15vh;
    font-weight: 400;
}

h3 ul a {
    color: #0000EE;
}


/*MENU LIST HEADERS*/

h7 {
    line-height: 42px;
    font-size: 12px;
    font-weight: 400;
}


/*BACK BUTTON*/

.back {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    width: auto;
    height: auto;
    position: fixed;
    top: 40px;
    left: -10px;
    z-index: 9;
    padding-top: 0px;
    padding-bottom: 0px;
    font-weight: bold;
    font-size: 24px;
    line-height: 42px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-top: 0px;
    color: #800080;
    text-decoration: none;
}

.back a:link {
    text-decoration: none;
}


/*LIST EMOJIS*/

.emojiL {
    font-size: 18px;
    padding-right: 15px;
}

#Style_emoji,
#Style2_emoji,
#Style3_emoji,
#Style4_emoji,
#Style5_emoji,
#Style6_emoji,
#Style7_emoji,
#Style8_emoji,
#Style9_emoji,
#Style11_emoji {
    font-size: 18px;
    padding-left: 15px;
}


/*LIST HOVER CURSORS*/

.about:hover {
    cursor: url('../assets/cursors/wave.png'), auto;
}

.house:hover {
    cursor: url('../assets/cursors/big-hand.png'), auto;
}

.netronome:hover {
    cursor: url('../assets/cursors/rock-emoji.png'), auto;
}

.intern:hover {
    cursor: url('../assets/cursors/eyes.png'), auto;
}

.capstone:hover {
    cursor: url('../assets/cursors/inspect.png'), auto;
    text-decoration-color: black;
}

.history:hover {
    cursor: url('../assets/cursors/kimoji.png'), auto;
    text-decoration: line-through;
    text-decoration-color: #0000ee;
    color: #0000ee;
}

.farmhand:hover {
    cursor: url('../assets/cursors/nope.png'), auto;
    text-decoration: line-through;
    text-decoration-color: #0000ee;
    color: #0000ee;
}

.loosies:hover {
    cursor: url('../assets/cursors/pointer-emoji.png'), auto;
}


/******HOVER STATE IMAGES******/


/*about*/

.headshot {
    position: absolute;
    z-index: 3;
    bottom: 40px;
    right: 5vw;
    height: auto;
    width: 22vw;
}

.contactcard {
    position: absolute;
    z-index: 1;
    top: 200px;
    right: 100px;
    height: 884px;
    width: 1522px;
}

.email {
    position: absolute;
    z-index: 4;
    bottom: -30vh;
    left: 0vw;
    height: auto;
    width: 60vw;
}


/*netronome*/

.info-arch {
    position: absolute;
    z-index: 10;
    bottom: -2vh;
    left: -1vw;
    width: 664px;
    height: 447px;
    background-image: url("../assets/netronome/info-arch-h894.png");
    background-size: 664px 447px;
}


.stats {
    position: absolute;
    z-index: 10;
    top: -70px;
    left: 10vw;
    width: 630px;
    height: 300px;
    background-image: url("../assets/netronome/stats-h600.png"); background-size: 630px 300px; 
    
}

.video2 {
    z-index: 1;
    position: absolute;
    right: -2vw;
    bottom: 0px;
    width: 1053px;
        height: 734px;
        background-image: url("../assets/netronome/video2-w2106.png");
        background-size: 1053px 734px;
}



/*history*/
.stick-small {
    position: absolute;
    z-index: 10;
    top: 60px;
    right: 400px;
    width: 303px;
    height: 198px;
    background-image: url("../assets/history/stick-small-w606.png");
    background-size: 303px 198px; 
}
.wip {
    position: absolute;
    z-index: 8;
    bottom: 5px;
    right: 10px;
    width: 1075px;
        height: 651px;
        background-image: url("../assets/history/wip-w2150.png");
        background-size: 1075px 651px; 
}

/******MEDIUM 650-880******/

/*house*/
.hand {
    position: absolute;
    z-index: 5;
    bottom: 0px;
    right: 0px;
    height: 98vh;
    width: auto;
}
.contents {
    position: absolute;
    z-index: 2;
    bottom: 2vh;
    left: 28vw;
    width: 664px;
        height: 451px;
        background-image: url("../assets/house/contents-h902.png");
        background-size: 664px 451px;
}
.deck-cover {
    position: absolute;
    z-index: 1;
    bottom: 0vh;
    left: 0vw;
    width: 664px;
    height: 415px;
    background-image: url("../assets/house/deck-cover-h830.png");
    background-size: 644px 415px;
}
.video {
    position: absolute;
    z-index: 3;
    top: -100px;
    left: 5vw;
    width: 920px;
    height: 300px;
    background-image: url("../assets/house/video-h600.png");
    background-size: 920px 300px;
}

/*netronome*/
.info-arch {
    position: absolute;
    z-index: 10;
    bottom: -6vh;
    left: -1vw;
    width: 664px;
    height: 447px;
    background-image: url("../assets/netronome/info-arch-h894.png");
    background-size: 664px 447px;
}
.rainbow {
    position: absolute;
    z-index: 2;
    top: -30px;;
    right: 20vw;
    width: 478px;
    height: 504px;
    background-image: url("../assets/netronome/rainbow-h1008.png"); background-size: 478px 504px; 
}

/*intern*/
.pw3 {
    position: absolute;
    z-index: 25;
    bottom: 13vh;
    right: 70px;
    width: 742px;
        height: 547px;
        background-image: url("../assets/intern/pw3-h1094.png");
        background-size: 742px 547px; 
}
.pw2 {
    position: absolute;
    z-index: 50;
    top: 0vh;
    right: 0vw;
    width: 664px;
        height: 501px;
        background-image: url("../assets/intern/pw2-h1002.png");
        background-size: 664px 501px; 
}
.hovering {
    position: absolute;
    z-index: 5;
    top: 5px;
    right: 45vw;
    width: 610px;
    height: 300px;
    background-image: url("../assets/intern/hovering-h600.png");
    background-size: 610px 300px;
}

/*intern*/
.maps {
    z-index: 3;
    position: absolute;
    bottom: 0px;
    left: 20px;
    width: 1135px;
    height: 336px;
    background-image: url("../assets/intern/maps-h672.jpg");
    background-size: 1135px 336px;
}
.pitch {
    position: absolute;
    z-index: 10;
    bottom: 350px;
    right: 8vw;
    width: 882px;
    height: 519px;
    background-image: url("../assets/capstone/pitch-h1038.png");
    background-size: 882px 519px; 
}
.textblock {
    position: absolute;
    z-index: 10;
    right: 90px;
    top: 100px;
    width: 271px;
    height: 300px;
    background-image: url("../assets/capstone/textblock-h600.png");
    background-size: 271px 300px; 
}
.users {
    position: absolute;
    z-index: 4;
    bottom: 10px;
    left: 20px;
    width: 1102px;
    height: 234px;
    background-image: url("../assets/capstone/users-h468.png");
    background-size: 1102px 234px; 
} 


.watch {
        position: absolute;
        top: -18%;
        z-index: 5;
        left: 20px;
        width: 722px;
    height: 450px;
    background-image: url("../assets/capstone/watch-h900.jpg");
    background-size: 722px 450px;  
    }

/*farmhand*/
.farm {
    position: absolute;
    z-index: 8;
    top: 20px;
    right: 10px;
    width: 833px;
        height: 459px;
        background-image: url("../assets/farmhand/farm-h947.png");
        background-size: 833px 459px; 
}
.stick-big {
    position: absolute;
    z-index: 10;
    bottom: 3vh;
    right: 20vw;
    width: 461px;
    height: 289px;
    background-image: url("../assets/farmhand/stick-big-h578.png");
    background-size: 461px 289px; 
}

/*LOOSIES*/
.snapchat {
    position: absolute;
    width: auto;
    height: 60vh;
    z-index: 10;
    right: 3vw;
    bottom: 2vh;
}
.bmw {
    position: absolute;
    z-index: 10;
bottom: 3vh;
    right: 0vw;
    width: 948px;
    height: 606px;
    background-image: url("../assets/loosies/bmw-h1212.png");
    background-size: 984px 606px; 
}
.obama {
    position: absolute;
    z-index: 10;
    right: 3vw;
    top: 2vh;
    width: 787px;
    height: 556px;
        background-image: url("../assets/loosies/obama-w1574.png");
    background-size: 787px 556px; 
}
.cutVideo {
    position: absolute;
    z-index: 10; 
    right: 60px;
    top: 0px;
    width: 837px;
    height: 224px;
        background-image: url("../assets/video/cutvideo-h448.png");
    background-size: 837px 224px; 
}

/******MEDIUM 550-650******/

/******SMALLEST 550-650******/
@media screen and (max-height: 650px) {
    /*house*/
    .hand {
        height: 98vh;
        width: auto;
    }
    .contents {
        bottom: -20vh;
        left: 28vw;
    }
    .deck-cover {
        bottom: -13vh;
        left: 0vw;
    }
    .video {
        left: 5vw;
        top: -80px;
        width: 920px;
    height: 300px;
    background-image: url("../assets/house/video-h600.png");
    background-size: 920px 300px;
    }
    /*netronome*/
    .info-arch {
        bottom: -90px;
        left: 0vw;
        width: 664px;
    height: 447px;
    background-image: url("../assets/netronome/info-arch-h894.png");
    background-size: 664px 447px;
    }
}

/******BIGGEST 880+******/
@media screen and (min-height: 880px) {
    /*house*/
    .hand {
        height: 98vh;
        width: auto;
    }
    .contents {
        bottom: 6vh;
        left: 28vw;
        width: 935px;
    height: 637px;
    background-image: url("../assets/house/contents-h1274.png");
    background-size: 935px 637px;
    }
    .deck-cover {
        bottom: 0vh;
        left: 0vw;
        width: 696px;
        height: 497px;
        background-image: url("../assets/house/deck-cover-h994.png");
        background-size: 696px 497px;
    }
    .video {
        left: 5vw;
        top: 0px;
        width: 920px;
    height: 300px;
    background-image: url("../assets/house/video-h600.png");
    background-size: 920px 300px;
    }
    /*netronome*/
    .info-arch {
        bottom: -2vh;
        left: 0vw;
        width: 832px;
        height: 549px;
        background-image: url("../assets/netronome/info-arch-h1098.png");
        background-size: 832px 549px;
    }
    .stats {
        top: 0vh;
        left: 10vw;
        width: 630px;
    height: 300px;
    background-image: url("../assets/netronome/stats-h600.png"); background-size: 630px 300px; 
    }
    .video2 {
        bottom: 0px;
        right: 3vw;
        width: 1053px;
        height: 734px;
        background-image: url("../assets/netronome/video2-w2106.png");
        background-size: 1053px 734px;
    }
    /*intern*/
    .pw2 {
        top:60px;
        right: 0vw;
        width: 664px;
        height: 501px;
        background-image: url("../assets/intern/pw2-h1002.png");
        background-size: 664px 501px; 
    }
    /*intern*/
    .maps {
        bottom: 20px;
        left: 20px;
        width: 1135px;
    height: 336px;
    background-image: url("../assets/intern/maps-h672.jpg");
    background-size: 1135px 336px;
    }
    /*capstone*/
    .pitch {
        position: absolute;
        z-index: 10;
        bottom: 5vh;
        right: 8vw;
        width: 882px;
    height: 519px;
    background-image: url("../assets/capstone/pitch-h1038.png");
    background-size: 882px 519px; 
    }
    .textblock {
        position: absolute;
        z-index: 10;
        right: 90px;
    top: 100px;
        width: 271px;
    height: 300px;
    background-image: url("../assets/capstone/textblock-h600.png");
    background-size: 271px 300px; 
    }
 
}

@media screen and (min-height: 800px) { 
       .users {
        position: absolute;
        z-index: 1;
        bottom: 40px;
        left: 20px;
        width: 1102px;
    height: 234px;
    background-image: url("../assets/capstone/users-h468.png");
    background-size: 1102px 234px; 
    }
    .watch {
        position: absolute;
        top:10px;
        z-index: 5;
        left: 20px;
        width: 722px;
    height: 450px;
    background-image: url("../assets/capstone/watch-h900.jpg");
    background-size: 722px 450px;  
    }
}

/*WIDTHS*/
@media screen and (max-height: 1050px) {
    .pw2 {
        top: 0vh;
        right: 50px;
        width: 479px;
        height: 369px;
        background-image: url("../assets/intern/pw2-h738.png");
        background-size: 479px 369px; 
    }
    .pw3 {
        z-index: 25;
        bottom: 50px;
    }
        .textblock {
        right: 90px;
    top: 100px;
    }
}
@media screen and (max-width: 1660px) {
    .video2 {
        z-index: 30;
        bottom: -60px;
        right: -4vw;
        width: 865px;
        height: 633px;
        background-image: url("../assets/netronome/video2-w1730.png");
        background-size: 865px 633px;
    }
    .watch {
        position: absolute;
        left: 0px;
        z-index: 5;
        width: 722px;
    height: 450px;
    background-image: url("../assets/capstone/watch-h900.jpg");
    background-size: 722px 450px;  
    }
}
@media screen and (max-width: 1440px) {
    .pw3 {
        bottom: 8vh;
        right: 15px;
        width: 742px;
        height: 547px;
        background-image: url("../assets/intern/pw3-h1094.png");
        background-size: 742px 547px; 
    }
    .pw2 {

        width: 479px;
        height: 369px;
        background-image: url("../assets/intern/pw2-h738.png");
        background-size: 479px 369px; 
    }
        .pitch {
        bottom: -9vh;
        right: -420px;
        width: 882px;
    height: 519px;
    background-image: url("../assets/capstone/pitch-h1038.png");
    background-size: 882px 519px; 
    }
    
    .bmw {
        position: absolute;
bottom:3vh;
    right: -10vw;
        width: 948px;
    height: 606px;
    background-image: url("../assets/loosies/bmw-h1212.png");
    background-size: 984px 606px; 
    }
    .wip {
        bottom: 5px;
        right: -60px;
        width: 632px;
        height: 513px;
        background-image: url("../assets/history/wip-w1285.png");
        background-size: 632px 513px; 
    }
}

@media screen and (max-width: 1480px) and (max-height: 930px) {
    .video2 {
        right: -15vw;
        bottom: 0px;
        width: 865px;
        height: 633px;
        background-image: url("../assets/netronome/video2-w1730.png");
        background-size: 865px 633px;
    }
}
@media screen and (max-width: 1600px) {
    .wip {
        bottom: 20px;
        right: 5px;
        width: 632px;
        height: 513px;
        background-image: url("../assets/history/wip-w1285.png");
        background-size: 632px 513px; 
    }
        .rainbow {
        top: -20px;
        right: 10vw;
         width: 478px;
    height: 504px;
    background-image: url("../assets/netronome/rainbow-h1008.png"); background-size: 478px 504px; 
    }
        .pitch {
        bottom: -9vh;
        right: -420px;
        width: 882px;
    height: 519px;
    background-image: url("../assets/capstone/pitch-h1038.png");
    background-size: 882px 519px; 
    }
}
@media screen and (max-width: 1290px) {
    .rainbow {
        right: -50px;
        top:-25px;
         width: 478px;
    height: 504px;
    background-image: url("../assets/netronome/rainbow-h1008.png"); background-size: 478px 504px; 
    }
    .hand {
        width: 500px;
        height: auto;
    }
    .pw3 {
        z-index: 150;
        bottom: -30px;
        right: -1vw;
        width: 666px;
        height: 445px;
        background-image: url("../assets/intern/pw3-h890.png");
         background-size: 666px 445px;
    }
    .video2 {
        right: 1vw;
        bottom: 12vh;
         width: 492px;
        height: 408px;
        background-image: url("../assets/netronome/video2-w984.png");
        background-size: 492px 408px;
    }
}
.deck-cover {
}
@media screen and (max-width: 1150px) {
    .hand {
        width: 420px;
        height: auto;
    }
}
@media screen and (max-width: 1050px) and (max-height:1000px) {
    .hand {
        width: 300px;
        height: auto;
    }
}

@media screen and (max-width: 1200px) {
    .wip {
        bottom: 20px;
        right: -260px;
        width: 632px;
        height: 513px;
        background-image: url("../assets/history/wip-w1285.png");
        background-size: 632px 513px; 
    }
    .video2 {
        right: 1vw;
        bottom: 2vh;
        width: 492px;
        height: 408px;
        background-image: url("../assets/netronome/video2-w984.png");
        background-size: 492px 408px;
    }
}
@media screen and (max-width: 1180px) and (max-height:850px) {
    .stick-big {
        bottom: 60px;
        right: 30px;
    }
    .video2 {
        right: 1vw;
        bottom: -4vh;
         width: 492px;
        height: 408px;
        background-image: url("../assets/netronome/video2-w984.png");
        background-size: 492px 408px;
    }
}
@media screen and (max-width: 2200px) and (max-height: 1035px) {
.contents {
        bottom: -10vh;
        left: 28vw;
        width: 935px;
    height: 637px;
    background-image: url("../assets/house/contents-h1274.png");
    background-size: 935px 637px;
    }
}
@media screen and (max-width: 2000px) and (max-height: 880px) {
.contents {
    position: absolute;
    z-index: 2;
    bottom: -10vh;
    left: 28vw;
    width: 664px;
        height: 451px;
        background-image: url("../assets/house/contents-h902.png");
        background-size: 664px 451px;
}
}
@media screen and (max-width: 1305px) and (max-height: 800px) {
    .farm {
        right: -310px;
        width: 833px;
        height: 459px;
        background-image: url("../assets/farmhand/farm-h947.png");
        background-size: 833px 459px; 
    }
    .obama {
        right: 30px;
        top: -40px;
        width: 787px;
    height: 556px;
        background-image: url("../assets/loosies/obama-w1574.png");
    background-size: 787px 556px; 
    }
    .bmw {
    top:3vh;
    right: -20vw;
    width: 948px;
    height: 606px;
    background-image: url("../assets/loosies/bmw-h1212.png");
    background-size: 984px 606px; 
}
    .video2 {
        right: -2vw;
        bottom: -8vh;
         width: 492px;
        height: 408px;
        background-image: url("../assets/netronome/video2-w984.png");
        background-size: 492px 408px;
    }
}
@media screen and (max-width: 1200px) and (max-height: 800px) {
    .pw3 {
        right: -190px;
        bottom: -30px;
        width: 666px;
        height: 445px;
        background-image: url("../assets/intern/pw3-h890.png");
         background-size: 666px 445px;
    }
    .pw2 {
        right:-40px;
    }
    .video {
        top: -100px;
        width: 920px;
    height: 300px;
    background-image: url("../assets/house/video-h600.png");
    background-size: 920px 300px;
    }
        .bmw {
top:-120px;
    right: 1vw;
    width: 948px;
    height: 606px;
    background-image: url("../assets/loosies/bmw-h1212.png");
    background-size: 984px 606px; 
}
}
@media screen and (max-width: 1180px) and (min-height: 800px) {
    .pw3 {
        bottom: -40px;
        right: -70px;
        width: 666px;
        height: 445px;
        background-image: url("../assets/intern/pw3-h890.png");
         background-size: 666px 445px;
    }
        .bmw {
top:40px;
    right: 1vw;
    width: 948px;
    height: 606px;
    background-image: url("../assets/loosies/bmw-h1212.png");
    background-size: 984px 606px; 
}
}